:root{
    --white: #FFFFFF;
    --dark: #232830;
    --green: #ACD9B2;
    --gray: #C7C7C7;
    --text: #F7F7F7;
    --black: #000000;
    --font-sm: 16px;
    --font-md: 18px;
    --font-lg:20px;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Quicksand', sans-serif;
    background-color: #444;
}

.login{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
}

.form-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-container h1{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.form-container p{
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    margin-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
}
.form-container .logo{
    width: 150px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
    display: none;
}
.form-container .form .form-control{
    margin-top: 30px;
    /* width: 90vw; */
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
.form-container .form .form-control .label{
    padding-bottom: 8px;
    position: relative;
    left: 4px;
    font-weight: bold;
}
.form-container .form .form-control .input{
    width: auto;
    height: 32px;
    border-radius: 5px;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--text);
    border: none;
}
.primary-btn{
    background-color: var(--green);
    color: var(--white);
    height: 50px;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-family: 'Quicksand',sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.form-container .form .form-control .email-btn{
    margin-left: 10px;
    margin-right: 10px;
}
.login .form-container .icon{
    height: 60px;
    margin-top: 30px;
}
.form .form-control .msg{
    color: var(--text);
}
.form .form-control .msg > a{
    color: var(--green);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
}
.form .form-control .secondary-btn{
    border: 2px solid var(--green);
    background-color: transparent;
    color: var(--green);
    height: 50px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-family: 'Quicksand',sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    width: 100%;
}
.form-container-four{
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
}
.create-btn{
    width: 100%;
    position: relative;
    margin-top: 50px;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.product-card{
    width: 240px;
    background-color: var(--dark);
    border-radius: 10px;
    margin: 0 auto;
}
.product-card .product-img{
    width: 240px;
    height: 240px;
    border-radius: 10px 10px 2px 2px;
    object-fit: cover;
}
.product-card .container-description div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}
.product-card .container-description div figure{
    margin: 0;
}
.product-card .container-description div .description-info{
    display:
    flex;
    flex-direction: column;
}
.product-card .container-description div .description-info p:first-child{
    font-weight: bold;
    margin-bottom: 6px;
    font-size: var(--font-md);
    color: var(--white);
}
.product-card .container-description div .description-info p:last-child{
    color: var(--gray);
    font-size: var(--font-sm);
}
.product-card .container-description div figure .icon-add{
    width: 2rem;
    height: 2rem;
}

/* Para mostrar el logo en pantallas de menos de 640px */
@media (max-width: 640px) {
    .form-container .logo{
        display: block;
    }
    .form .form-control .secondary-btn{
        position: absolute;
        width: 95%;
        bottom: 0;
    }
    .create-btn{
        position: absolute;
        width: 95%;
        bottom: 0;
    }
    .product-card{
        width: 140px;
    }
    .product-card .product-img{
        width: 140px;
        height: 140px;
    }
    .product-card .container-description div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px;
    }
}