:root{
    --white: #FFFFFF;
    --dark: #232830;
    --green: #ACD9B2;
    --gray: #C7C7C7;
    --text: #F7F7F7;
    --black: #000000;
    --font-sm: 14px;
    --font-md: 16px;
    --font-lg:18px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    background-color: #444;
}

.login{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
}

.form-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-container h1{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.form-container p{
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    margin-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
}
.form-container .logo{
    width: 150px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
    display: none;
}
.form-container .form .form-control{
    margin-top: 30px;
    /* width: 90vw; */
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
.form-container .form .form-control .label{
    padding-bottom: 8px;
    position: relative;
    left: 4px;
    font-weight: bold;
}
.form-container .form .form-control .input{
    width: auto;
    height: 32px;
    border-radius: 5px;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--text);
    border: none;
}
.primary-btn{
    background-color: var(--green);
    color: var(--white);
    height: 50px;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-family: 'Quicksand',sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.form-container .form .form-control .email-btn{
    margin-left: 10px;
    margin-right: 10px;
}
.login .form-container .icon{
    height: 60px;
    margin-top: 30px;
}
.form .form-control .msg{
    color: var(--text);
}
.form .form-control .msg > a{
    color: var(--green);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
}
.form .form-control .secondary-btn{
    border: 2px solid var(--green);
    background-color: transparent;
    color: var(--green);
    height: 50px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-family: 'Quicksand',sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    width: 100%;
}
.form-container-four{
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
}
.create-btn{
    width: 100%;
    position: relative;
    margin-top: 50px;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.product-card{
    width: 240px;
    background-color: var(--dark);
    border-radius: 10px;
    margin: 0 auto;
}
.product-card .product-img{
    width: 240px;
    height: 240px;
    border-radius: 10px 10px 2px 2px;
    object-fit: cover;
}
.product-card .container-description div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}
.product-card .container-description div figure{
    margin: 0;
}
.product-card .container-description div .description-info{
    display:
    flex;
    flex-direction: column;
}
.product-card .container-description div .description-info p:first-child{
    font-weight: bold;
    margin-bottom: 6px;
    font-size: var(--font-md);
    color: var(--white);
}
.product-card .container-description div .description-info p:last-child{
    color: var(--gray);
    font-size: var(--font-sm);
}
.product-card .container-description div figure .icon-add{
    width: 2rem;
    height: 2rem;
}

/* -------------------- */

.desktop-menu{
    width: 100px;
    height: auto;
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.desktop-menu ul li{
    text-align: end;
}
.desktop-menu ul li:last-child{
    border-top: 1px solid var(--gray);
    padding-top: 20px;
}
.desktop-menu ul li:last-child a{
    color: var(--green);
    font-size: var(--font-sm);
    font-weight: 500;
}
.desktop-menu ul li a{
    text-decoration: none;
    color: var(--text);
    /* Un elemento inline no se le puede aplicar margenes ni paddinds entonces se le da un display que actue en linea pero en forma de bloque */
    display: inline-block;
    margin-bottom: 20px;
    font-weight: bold;
}
/* -------------------- */
.mobile-menu{
    padding: 24px;
}
.mobile-menu a{
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
}
.mobile-menu ul li{
    list-style: none;
    padding-bottom: 24px;
}
.mobile-menu ul:first-child{
    border-bottom: 1px solid var(--gray);
    padding-top: 24px;
}
.mobile-menu ul:nth-child(2){
    padding-top: 24px;
}
.mobile-menu ul li .email{
    font-size: var(--font-sm);
    font-weight: normal;
}
.mobile-menu ul li .sign-out{
    font-size: var(--font-sm);
    font-weight: bold;
    color: var(--green);
}
.mobile-menu ul:last-child li{
    padding-bottom: 10px;
}
.mobile-menu ul:last-child{
    position: absolute;
    bottom: 0;
}

/* ------------------- */

.order-container{
    padding: 10px;
}
.order-container .title{
    color: var(--white);
    margin: 0 auto;
    font-size: var(--font-lg);
    text-align: start;
    max-width: 520px;
}
.order-container .order-row{
    max-width: 500px;
    position: relative;
    top: 20px;
    background-color: var(--black);
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
}
.order-container .order-row .order-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.order-container .order-row .order-content p:first-child{
    display: flex;
    flex-direction: column;
}
.order-container .order-row .order-content p:last-child{
    color: var(--gray
    );
    font-weight: bold;
    font-size: var(--font-lg);
}
.order-container .order-row .order-content p span:first-child{
    font-size: var(--font-lg);
    color: var(--white);
    font-weight: bold;
    padding-bottom: 6px;
}
.order-container .order-row .order-content p span:last-child{
    font-size: var(--font-md);
    font-weight: normal;
    color: var(--gray);
}
.order-container .shopping-card{
    margin: 0 auto;
    height: auto;
    padding: 10px;
    max-width: 500px;
    background-color: var(--dark);
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    top: 32px;
}

.order-container .shopping-card .shopping-description {
    margin-left: 16px;
    color: var(--white);
}
.order-container .shopping-card p:last-child{
    color: var(--gray);
    position: absolute;
    right: 10px;
}
.order-container .shopping-card figure img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 1rem;
}

/* ------------------- */

.order-container .order-row-2{
    max-width: 500px;
    position: relative;
    top: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.order-container .order-row-2 .order-content-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.order-container .order-row-2 .order-content-2 p:first-child{
    display: flex;
    flex-direction: column;
}
.order-container .order-row-2 .order-content-2 p:last-child{
    color: var(--gray
    );
    font-weight: bold;
    font-size: var(--font-lg);
}
.order-container .order-row-2 .order-content-2 p:last-child{
    display: flex;
    flex-direction: column;
}
.order-container .order-row-2 .order-content-2 p:last-child span a img{
    margin-left: 10px;
}
.order-container .order-row-2 .order-content-2 p span:first-child{
    font-size: var(--font-lg);
    color: var(--white);
    font-weight: bold;
    padding-bottom: 6px;
}
.order-container .order-row-2 .order-content-2 p span:last-child{
    font-size: var(--font-md);
    font-weight: normal;
    color: var(--gray);
}

/* -------------------- */
.navbar{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 20px;
    border-bottom: 1px solid var(--gray);
}
.icon-mobile{
    display: none;
}
.img-menu-mobile{
    display: none;
}
.shopping-mobile{
    display: none;
}
.active{
    border: 1px solid var(--green);
    padding: 6px 12px 6px 12px;
    border-radius: 12px;
    color: var(--white) !important;
}
.navbar .navbar-left{
    display: flex;
    flex-direction: row;
}
.navbar .navbar-right{
    position: absolute;
    right: 10px;
}
.navbar .navbar-left ul,
.navbar .navbar-right ul{
    display: flex;
    align-items: center;
}
.navbar .navbar-right ul{
    flex-direction: row-reverse;
}
.navbar .navbar-left ul li,.navbar .navbar-right ul li{
    list-style: none;
    margin: 5px 10px 5px 10px;
}
.navbar .navbar-right ul li a .icon-shopping{
    background-color: var(--text);
    border-radius: 50%;
}
.navbar .navbar-left ul li a:hover,
.navbar .navbar-right ul li a:hover{
    color: var(--white);
    transition: .4s all;
}
.navbar .navbar-left ul li a,
.navbar .navbar-right ul li a{
    color: var(--gray);
    text-decoration: none;
    font-size: var(--font-sm);
}

/* -------------------------- */
/* Detalle de productos */
.add-to-card-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 16px;
}
.detail-product{
    width: 360px;
    position: absolute;
    right: 0;
    background-color: var(--dark);
}
.detail-product .detail-product-close{
    position: absolute;
    background: var(--text);
    padding: 12px;
    border-radius: 50%;
    top: 18px;
    left: 18px;
    height: 14px;
    width: 14px;
    z-index: 30;
}
.detail-product .detail-product-close > img{
    position: absolute;
    top: 5px;
    left: 5px;
}
.detail-product .detail-product-close:hover{
    cursor: pointer;
}
.detail-product .img-product{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}
.info-product{
    width: 100%;
}
.info-product > p:first-child{
    color: var(--white);
    padding: 14px 0 14px 14px;
    font-weight: bold;
}
.info-product > p:nth-child(2){
    color: var(--text);
    padding: 0px 0 14px 14px;
    font-weight: bold;
}
.info-product > p:nth-child(3){
    color: var(--gray);
    padding: 0px 14px 14px 14px;
}

/* ----------------------- */
/* Carrito de compras */

.detail-product .order-row{
    width: 95%;
    top: 20px;
    background-color: var(--black);
    padding: 12px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.detail-product .order-row .order-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.detail-product .order-row .order-content p:first-child{
    display: flex;
    flex-direction: column;
}
.detail-product .order-row .order-content p:last-child{
    color: var(--gray
    );
    font-weight: bold;
    font-size: var(--font-lg);
}
.detail-product .order-row .order-content p span:first-child{
    font-size: var(--font-lg);
    color: var(--white);
    font-weight: bold;
    padding-bottom: 6px;
    align-self: center;
}
.detail-product .shopping-card{
    margin: 0 auto;
    height: auto;
    padding: 10px;
    background-color: var(--dark);
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.detail-product > div:first-child{
    margin-top: 16px;
}
.detail-product .shopping-card .shopping-description {
    margin-left: 16px;
    color: var(--white);
}
.detail-product .shopping-card .container-shopping{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
}
.detail-product .shopping-card .container-shopping img{
    height: 14px;
    width: 14px;
    background-color: var(--white);
    border-radius: 50%;
}
.detail-product .shopping-card .container-shopping img:hover{
    cursor: pointer;
}
.detail-product .shopping-card .container-shopping p{
    color: var(--gray);
    margin-right: 10px;
}
.detail-product .shopping-card figure img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 1rem;
}
.checkout{
    width: 100%;
    height: 40px;
}

/* -------------------- */

/* Para mostrar el logo en pantallas de menos de 640px */
@media (max-width: 800px){
    .navbar .navbar-right ul li:last-child{
        display: none;
    }
}
@media (max-width: 640px){
    .form-container .logo{
        display: block;
    }
    .form .form-control .secondary-btn{
        position: absolute;
        width: 95%;
        bottom: 0;
    }
    .create-btn{
        position: absolute;
        width: 95%;
        bottom: 0;
    }
    .product-card{
        width: 140px;
    }
    .product-card .product-img{
        width: 140px;
        height: 140px;
    }
    .product-card .container-description div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px;
    }
    .order-container .title{
        display: none;
    }
    /* ----------- */
    .icon-mobile{
        display: block;
        padding: 8px;
    }
    .img-menu-mobile{
        display: block;
    }
    .navbar .navbar-left{
        display: none;
    }
    .shopping-mobile{
        display: block;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .detail-product{
        width: 100%;
    }
}